<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Beetle</title>
  </head>

  <body>
    <h1>Beetle</h1>
    <h2>Snapshot listing</h2>
    <hr />
    <ul>
      {{ range $s := .Embedded.Snapshots }}
       <a href="/snapshots/{{ $s.Origin }}/{{ $s.ID }}"><li>{{ $s.Date }} - {{ $s.URL }}</li></a>
      {{ end }}
    </ul>
    <hr />
  </body>
</html>
